# Python cache
__pycache__
*.pyc
.idea/*.xml
.idea/*.iml
scraper/__init__.pyc
scraper/items.pyc
scraper/middlewares.pyc
scraper/pipelines.pyc
scraper/settings.pyc
scraper/spiders/coinmarketcap.pyc
scraper/spiders/bitcoinmarket.pyc
scraper/spiders/__init__.pyc
scraper/spiders/*.csv

